<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('view_jobs') }}">view jobs</a></li>
            
        </ul>
    </nav>
    <h1>Welcome to the Home Page</h1>
    <p>This page is only accessible to logged-in users.</p>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
